.contact-container {
  height: 100vh;
  background-color: #887e6c;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 100px;
}

.contact-heading {
  margin-top: 115px;
  margin-bottom: 40px;
  color: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.contact-label {
  color: white;
  font-weight: bold;
  margin: 5px;
}

.contact-message {
  height: 10em;
}

.message-container {
  margin-top: 2px;
  display: flex;
  justify-content: flex-start;
}

.contact-submit {
  margin-top: 10px;
  background: none;
  color: white;
  border: none;
  padding: 4px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: 2px solid white;
}

.contact-submit:hover {
  background-color: white;
  color: black;
}

.form-container {
  margin-top: 8em;
}

@media screen and (min-width: 780px) {
  .contact-form {
    margin-top: 25%;
  }
}
